<launch>
    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="config" default="baseline" doc="Specify a config."/>
    <arg name="param_file_name" default="default" doc="Specify a param file. ex:default." />



    <include file="$(find joystick)/launch/joystick_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>


    <include file="$(find camera_driver)/launch/camera_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <remap from="cam_info_reader_node/camera_info" to="camera_node/camera_info"/>
    <remap from="cam_info_reader_node/compressed_image" to="camera_node/image/compressed"/>
    <include file="$(find camera_driver)/launch/cam_info_reader_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
     </include>

    <include file="$(find wheels_driver)/launch/wheels_driver_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>


    <include file="$(find led_emitter)/launch/led_emitter_node.launch">
        <arg name="veh" value="$(arg veh)"/>
    </include>
</launch>
